body {
	font-family: "Verdana";
	font-size: 12px;
	background-color: GhostWhite;
}

/* Grayed out indicator field */
.ind_placeholder {
	display:inline;
	width: 27px;
}

/* Red border for invalid inputs */
input:invalid {
  /*border: 1px solid black;*/
  background: rgb(255, 0, 0);
}

input[type=button] {
background-color: white;
    color: black;
    border: 1px solid #4CAF50; /* Green */
    border-radius: 4px;
}

.datefield_YYYY {
	width: 50px;
}

#f008_type_of_date {
	margin-left:111px;
	width: 30px;
	height: 21px
}

#f008_place {
	width: 50px;
}

#f008_target_audience {
	width: 50px;
}

#f008_literary_form {
	width: 50px;
}

#f008_biography {
	width: 50px;
}

#f008_language {
	width: 50px;
}

.f020 {
 	margin-top:5px;
}

#f020_a {
	width: 97px;
}

#f020_q {
	width: 96px;
}

.f040 {
 	margin-top:5px;
}

#f040_a {
	display:inline;
	width: 80px;
}

#f040_b {
	width: 50px;
}

label[for=f040_d] {
	display:none;
}

#f040_d {
	display:none;
	width: 80px;
}

.f041 {
 	margin-top:5px;
}

#f041_i1 {
	width: 30px;
	height: 21px
}

#f041_a {
	width: 50px;
}

label[for=f041_h] {
	display:none;
}

#f041_h {
	display:none;
	width: 50px;
}

#f100 {
 	margin-top:5px;
}

#f100_i1 {
	width: 30px;
	height: 21px
}

#f100_a {
	width: 180px;
}

label[for=f100_d] {
	display:none;
}

#f100_d {
	display: none;
	width: 92px;
}

label[for=f100_e] {
	display:none;
}

#f100_e {
	display: none;
	width: 92px;
}

#f240 {
	display:none;
 	margin-top:5px;
}

#f240_i1 {
	width: 30px;
	height: 21px
}

#f240_i2 {
	width: 26px;
}

#f240_a {
	width: 300px;
}

#f240_l {
	width: 100px;
}

#f245 {
 	margin-top:5px;
}

#f245_i1 {
	width: 30px;
	height: 21px
}

#f245_i2 {
	width: 26px;
}

#f245_a {
	width: 300px;
}

label[for=f245_b] {
	display:none;
}

#f245_b {
	display:none;
	width: 300px;
}

#f245_c {
	width: 200px;
}

.generic {
 	margin-top:5px;
}

.generic_i1, .generic_i2 {
	width: 26px;
}

.g246_a {
 	width: 300px;
}

.g246_b {
 	width: 300px;
}

.f264_i1 {
	width: 26px;
}

.f264_i2 {
	width: 26px;
}

#f300 {
 	margin-top:5px;
}

#f300_i1 {
	width: 26px;
}

#f300_i2 {
	width: 26px;
}

#f300_a {
	width: 220px;
}

#f300_b {
	width: 300px;
}

#f300_c {
	width: 80px;
}

label[for=f300_e] {
	display:none;
}

#f300_e {
	display:none;
	width: 150px;
}

.f500 {
 	margin-top:5px;
}

.f500_i1 {
	width: 26px;
}

.f500_i2 {
	width: 26px;
}

.f500_a {
	width: 300px;
}

#f500_1 {
	display:none;
}

#f504 {
	display:none;
 	margin-top:5px;
}

#f504_i1 {
	width: 26px;
}

#f504_i2 {
	width: 26px;
}

#f504_a {
	width: 300px;
}

.g655_a {
 	width: 300px;
}

.g655_2 {
 	width: 50px;
}

.g655_i2 {
 	margin-top:5px;
}

.f852 {
 	margin-top:5px;
}

#f852_i1 {
	width: 30px;
	height: 21px
}

#f852_i2 {
	width: 26px;
}

#f852_a {
	width: 80px;
}

#f852_h {
	width: 64px;
}

#f852_i {
	width: 30px;
}

.actions {
 	margin-top:15px;
}

.insert {
 	margin-top:15px;
 	display:none;
}

label[for=field_insert] {
}

#field_insert {
	width: 30px;
}

#subfield_insert {
	width: 50px;
}

#show_insert {
	margin-left:6px;
}

.infobox {
 	margin-top:10px;
	margin-left:40px;
}

.marc_download {
 	margin-top:5px;
	margin-left:40px;
}